Repository fluent-check/fluent-check, pull requests merged in 2021-03, with the labels that each got.

#120 Fixing sampling with bias duplication problem for unique arbitraries
  src/FluentCheck.ts
  src/arbitraries/ArbitraryTuple.ts
  src/arbitraries/UniqueArbitrary.ts
  test/arbitrary.test.ts
Labels: enhancement

#151 Fixing ArbitraryInteger shrinking problem
  src/arbitraries/ArbitraryInteger.ts
  test/integers.test.ts
Labels: bug

#156 Char, Hex, Base64, ASCII, and Unicode
  src/arbitraries/index.ts
  src/arbitraries/string.ts
  src/arbitraries/util.ts
  src/index.ts
  test/arbitrary.test.ts
Labels: enhancement

#137 Towards moar type (in)sanity
  src/FluentCheck.ts
  src/arbitraries/ArbitraryTuple.ts
  src/strategies/FluentStrategy.ts
  src/strategies/FluentStrategyFactory.ts
Labels: quality of life, types

#161 Improve linter
  .eslintrc
  src/FluentCheck.ts
  src/arbitraries/Arbitrary.ts
  src/arbitraries/ArbitraryArray.ts
  src/arbitraries/ArbitraryComposite.ts
  src/arbitraries/ArbitraryConstant.ts
  src/arbitraries/ArbitraryInteger.ts
  src/arbitraries/ArbitrarySet.ts
  src/arbitraries/ArbitraryTuple.ts
  src/arbitraries/ChainedArbitrary.ts
  src/arbitraries/FilteredArbitrary.ts
  src/arbitraries/MappedArbitrary.ts
  src/arbitraries/NoArbitrary.ts
  src/arbitraries/index.ts
  src/arbitraries/string.ts
  src/arbitraries/types.ts
  src/arbitraries/util.ts
  src/strategies/FluentStrategy.ts
  src/strategies/FluentStrategyMixins.ts
  test/arbitrary.test.ts
  test/booleans.test.ts
  test/integers.test.ts
  test/math.test.ts
  test/statistics.test.ts
Labels: quality of life

#153 Fix canGenerate in MappedArbitrary
  package-lock.json
  src/arbitraries/Arbitrary.ts
  src/arbitraries/FilteredArbitrary.ts
  src/arbitraries/MappedArbitrary.ts
  src/arbitraries/types.ts
  test/arbitrary.test.ts
Labels: enhancement
